section
{
  margin-top: 40px;
}

section.components
{
  margin-top: 80px;
}

section.component
{
  padding-bottom: 40px;
  margin-bottom: 40px;
  /*border-bottom: 1px dotted #cccccc;*/
}

section.component h4
{
  margin-top: 40px;
}

.section-link
{
  /* Offset for fixed navigation, via: http://stackoverflow.com/a/13184714/115704 */
  display: block;
  position: relative;
  top: -80px;
  visibility: hidden;
}


p.member-title,
p.parameter-title
{
  font-weight: bold;
}


.examples-list li
{
  margin-bottom: 25px;
}

.example-title
{
  font-weight: bold;
}


.navbar-inverse .navbar-brand
{
  color: #eeeeee;
}
.navbar-inverse .navbar-nav>li>a.get-code-link
{
  color: #ffffff;
  font-weight: bold;
}
.navbar-inverse .navbar-nav>li>a.get-code-link:hover
{
  text-decoration: underline;
}
